.about {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $breakpoint-desktop) {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

.about__tablet-br {
  display: none;

  @media (min-width: $breakpoint-tablet) {
    display: block;
  }

  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.about__desktop-br {
  display: none;

  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

.about__container {
  @media (min-width: $breakpoint-desktop) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    column-gap: 40px;
    row-gap: 60px;
  }
}

.about__heading-wrapper p {
  margin: 15px 0 0;

  font-size: 16px;
  line-height: 22px;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 31px;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: 30px;

    font-size: 22px;
    line-height: 32px;
  }
}

.about__heading {
  margin: 0;
}

.about__purpose {
  margin-top: 40px;

  @media (min-width: $breakpoint-desktop) {
    margin: 0;
    width: 498px;
  }
}

.about__purpose h3 {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: $color-text-additional;

  @media (min-width: $breakpoint-tablet) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 32px;
    line-height: 36px;
  }
}

.about__purpose p {
  margin: 20px 0 0;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 29px;
    max-width: 493px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: 40px;
  }
}

.about__button {
  margin-top: 30px;
  padding: 15px 58px 15px 21px;

  background-color: transparent;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 40px;
    padding: 20px 81px 20px 31px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: 50px;
  }
}

.about__list {
  margin: 40px 0 0;
  padding: 42px 20px 40px;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;

  text-align: left;

  border-radius: 20px;

  background-color: $color-bg-accent;
  color: $color-text-white;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 60px;
    padding: 72px 50px 50px 70px;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

    gap: 54px 52px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 0;

    padding: 72px 100px 50px 120px;
    grid-area: 2 / 1 / 3 / 3;
  }
}

.about__item {
  position: relative;
  width: 100%;

  padding: 15px 20px;

  border: 1px solid $color-text-white;
  border-radius: 16px;

  &::before {
    content: "";
    position: absolute;

    width: 42px;
    height: 42px;

    top: -23px;
    left: -21px;

    background-color: $color-bg-accent;
  }

  &::after {
    content: "";
    position: absolute;

    width: 18px;
    height: 22px;

    top: -13px;
    left: -9px;

    background-image: url("/__spritemap#sprite-star-view");
  }

  @media (min-width: $breakpoint-tablet) {
    width: 253px;
    flex-basis: 45.3%;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 484px;
    flex-basis: auto;
    padding: 30px 50px 30px 41px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.about__item h4 {
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  text-transform: uppercase;

  @media (min-width: $breakpoint-tablet) {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.26px;

    flex-basis: 52%;
  }
}

.about__item p {
  margin: 15px 0 0;

  font-weight: 300;

  @media (min-width: $breakpoint-desktop) {
    margin: 0;
    flex-basis: 50%;

    line-height: 20px;
  }
}
