.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero__slide-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 568px;
  padding: 94px 15px 20px;

  background-color: #d6e2f7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $breakpoint-tablet) {
    min-height: 1024px;
    padding: 116px 64px 60px 45px;
  }

  @media (min-width: $breakpoint-desktop) {
    min-height: 800px;
    padding-right: 372px;
    padding-left: 100px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-color: rgba($color-overlay-photo, 0.2);
  }
}

.hero__slide-content--abroad {
  .webp & {
    background-image: url("../../img/hero/abroad-small@1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/abroad-small@2x.webp");
    }

    @media (min-width: $breakpoint-tablet) {
      background-image: url("../../img/hero/abroad-medium@1x.webp");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/abroad-medium@2x.webp");
      }
    }

    @media (min-width: $breakpoint-desktop) {
      background-image: url("../../img/hero/abroad-large@1x.webp");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/abroad-large@2x.webp");
      }
    }
  }

  .no-webp & {
    background-image: url("../../img/hero/abroad-small@1x.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/abroad-small@2x.jpg");
    }

    @media (min-width: $breakpoint-tablet) {
      background-image: url("../../img/hero/abroad-medium@1x.jpg");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/abroad-medium@2x.jpg");
      }
    }

    @media (min-width: $breakpoint-desktop) {
      background-image: url("../../img/hero/abroad-large@1x.jpg");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/abroad-large@2x.jpg");
      }
    }
  }
}

.hero__slide-content--volunteer {
  .webp & {
    background-image: url("../../img/hero/volunteer-small@1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/volunteer-small@2x.webp");
    }

    @media (min-width: $breakpoint-tablet) {
      background-image: url("../../img/hero/volunteer-medium@1x.webp");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/volunteer-medium@2x.webp");
      }
    }

    @media (min-width: $breakpoint-desktop) {
      background-image: url("../../img/hero/volunteer-large@1x.webp");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/volunteer-large@2x.webp");
      }
    }
  }

  .no-webp & {
    background-image: url("../../img/hero/volunteer-small@1x.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/volunteer-small@2x.jpg");
    }

    @media (min-width: $breakpoint-tablet) {
      background-image: url("../../img/hero/volunteer-medium@1x.jpg");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/volunteer-medium@2x.jpg");
      }
    }

    @media (min-width: $breakpoint-desktop) {
      background-image: url("../../img/hero/volunteer-large@1x.jpg");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/volunteer-large@2x.jpg");
      }
    }
  }
}

.hero__slide-content--companies {
  .webp & {
    background-image: url("../../img/hero/companies-small@1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/companies-small@2x.webp");
    }

    @media (min-width: $breakpoint-tablet) {
      background-image: url("../../img/hero/companies-medium@1x.webp");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/companies-medium@2x.webp");
      }
    }

    @media (min-width: $breakpoint-desktop) {
      background-image: url("../../img/hero/companies-large@1x.webp");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/companies-large@2x.webp");
      }
    }
  }

  .no-webp & {
    background-image: url("../../img/hero/companies-small@1x.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/companies-small@2x.jpg");
    }

    @media (min-width: $breakpoint-tablet) {
      background-image: url("../../img/hero/companies-medium@1x.jpg");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/companies-medium@2x.jpg");
      }
    }

    @media (min-width: $breakpoint-desktop) {
      background-image: url("../../img/hero/companies-large@1x.jpg");

      @media (resolution >= 2dppx) {
        background-image: url("../../img/hero/companies-large@2x.jpg");
      }
    }
  }
}

.hero__slider-content-wrapper {
  position: relative;

  @media (min-width: $breakpoint-desktop) {
    width: 968px;
    margin: 0 auto;
  }
}

.hero__pagination-wrapper {
  @media (min-width: $breakpoint-desktop) {
    display: flex;
  }
}

.hero__pagination {
  position: relative;

  display: inline-flex;
  flex-wrap: wrap;
  min-width: 80px;
  min-height: 28px;
  margin-right: 40px;
  padding: 10px 16px;

  background-color: $color-bg-additional;
  border-radius: 12px 12px 0 0;

  gap: 12px;

  @media (min-width: $breakpoint-tablet) {
    min-width: 100px;
    min-height: 40px;
    padding: 14px 20px;

    border-radius: 20px 20px 0 0;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-right: auto;
  }

  &::before {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;

    width: 10px;
    height: 10px;

    background-image: url("../../img/sprite/angle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);

    @media (min-width: $breakpoint-tablet) {
      right: -20px;
      width: 20px;
      height: 20px;
    }
  }
}

.hero__pagination .swiper-pagination-bullet {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  padding: 0;

  background-color: $color-bg-additional;
  border: 2px solid $color-bg-accent;
  border-radius: 50%;

  cursor: pointer;

  transition: background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;

  @media (min-width: $breakpoint-tablet) {
    width: 12px;
    height: 12px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 28px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hero__pagination .swiper-pagination-bullet:hover {
  background-color: $color-btn-main;
  border-color: $color-btn-white;
  opacity: 0.7;
}

.hero__pagination .swiper-pagination-bullet:focus-visible {
  background-color: $color-btn-main;
  border-color: $color-btn-main;
  opacity: 1;
}

.hero__pagination .swiper-pagination-bullet:active {
  background-color: $color-btn-active;
  border-color: $color-btn-active;
  opacity: 1;
}

.hero__pagination .swiper-pagination-bullet-active {
  background-color: $color-btn-active;
  border-color: $color-btn-active;
}

.hero__pagination .swiper-pagination-bullet:disabled {
  background-color: $color-btn-disabled;
  border-color: $color-btn-disabled;
  opacity: 0.5;
}

.hero__slide-title {
  position: relative;
  z-index: 1;

  margin: 0;
  padding: 20px 15px 16px 14px;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: var(--primary, #316dc2);

  background-color: var(--white, #ffffff);
  border-radius: 0 16px 16px 0;

  @media (min-width: $breakpoint-tablet) {
    padding: 30px 69px 24px 40px;

    font-size: 36px;
    line-height: 44px;

    border-radius: 0 30px 30px 0;
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: 968px;
    padding: 40px 50px 30px;

    font-size: 54px;
    line-height: 62px;
  }
}

.hero__slide-wrapper {
  position: relative;
  z-index: 1;

  max-width: 600px;

  @media (min-width: $breakpoint-tablet) {
    display: grid;
    max-width: 775px;
    margin-right: 66px;
    padding: 0 40px 35px;

    background-color: var(--white, #ffffff);
    border-radius: 0 0 30px 30px;

    gap: 20px 74px;
    grid-template-columns: 1fr 198px;
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: 775px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;

    transform: translateX(-96px);
  }

  &::before {
    @media (min-width: $breakpoint-tablet) {
      content: "";
      position: absolute;
      top: 0;
      right: -26px;

      width: 26px;
      height: 26px;

      background-image: url("../../img/sprite/angle.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.hero__slide-wrapper p {
  position: relative;

  margin: 0 23px 0 0;
  padding: 0 14px 15px;

  font-size: 16px;
  line-height: 20px;

  background-color: var(--white, #ffffff);

  @media (min-width: $breakpoint-tablet) {
    margin-right: 0;
    padding: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    line-height: 26px;
  }
}

.hero__slide-wrapper p:last-of-type {
  border-radius: 0 0 14px;

  @media (min-width: $breakpoint-tablet) {
    border-radius: 0;
  }
}

.hero__slide-wrapper p:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;

  width: 10px;
  height: 10px;

  background-image: url("../../img/sprite/angle.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $breakpoint-tablet) {
    width: 20px;
    height: 20px;
  }
}

.hero__button-wrapper {
  position: relative;
  display: inline-block;

  padding: 9px 14px;
  border-radius: 0 0 14px 14px;

  background-color: $color-bg-additional;

  &::before {
    content: "";
    position: absolute;
  }

  @media (min-width: $breakpoint-tablet) {
    position: absolute;
    right: 91px;
    bottom: 68px;
    z-index: 3;
  }

  @media (min-width: $breakpoint-desktop) {
    right: 229px;
    bottom: 36px;
  }
}
