.logo {
  width: 52px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-bg-additional;
  border-radius: 30px;
}

.logo__image {
  width: 30px;
  height: 30px;

  object-fit: cover;
}
