.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;

  background-color: var(--white, #ffffff);
  border-radius: 50%;
}

.logo__img {
  max-width: 30px;
  max-height: 30px;

  object-fit: cover;
}
