.page {
  position: relative;

  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-body;
  color: $color-text-main;

  background-color: $color-bg-main;

  @media (min-width: $breakpoint-tablet) {
    font-size: 16px;
  }

  @media (min-width: $breakpoint-desktop) {
    line-height: 26px;
  }
}

.page__container {
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $breakpoint-tablet) {
    padding: 0 45px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0 100px;
  }
}

.page__main {
  flex-grow: 1;
  background-color: #dedede;
}

.page__footer {
  margin-top: auto;
}
