.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family;
  color: var(--text, #484848);

  background-color: var(--beige, #f0efe9);

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $vp-1440) {
    line-height: 26px;
  }
}

.page__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $vp-768) {
    padding: 0 45px;
  }

  @media (min-width: $vp-1440) {
    padding: 0 100px;
  }
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  margin-top: auto;
}

.page__modal-open {
  height: 100vh;
  overflow: hidden;
}
