// colors
$color-text-main: #484848;
$color-text-white: #ffffff;
$color-text-additional: #316dc2;
$color-text-additional-light: #f0efe9;
$color-btn-main: #316dc2;
$color-btn-white: #ffffff;
$color-btn-active: #275699;
$color-btn-disabled: #a9afb7;
$color-bg-main: #f0efe9;
$color-bg-additional: #ffffff;
$color-bg-accent: #316dc2;
$color-icon-main: #316dc2;
$color-icon-additional: #ffffff;
$color-form-white: #ffffff;
$color-form-dark: #484848;
$color-form-error: #ff5e66;
$color-form-disabled: #a9afb7;
$color-overlay-photo: #316dc2;
$color-overlay-menu: #0d1d33;

// breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

// fonts
$font-body: "Manrope", "Arial", sans-serif;
